@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #296218;
}

form {
  margin: 20px 0 25px 0;
}

input[type="submit"] {
  margin-top: 8px;
}

.container {
  width: 700px;
  margin: 30px auto;
}

.navbar {
  background-color: rgba(147, 213, 127, 0.5);
  padding: 15px;
}

.radio_buttons {
  margin-right: 5px;
}

.inline {
  display: inline-block;
  margin-right: 20px;
}
