a {
  text-decoration: none;
  color: #296218;
}

form {
  margin: 25px auto;
}

.container {
  width: 700px;
  margin: 30px auto;
}

.navbar {
  background-color: rgba(147, 213, 127, 0.5);
  padding: 8px;
}

.label-category {
  margin-right: 10px;
}

.radio_buttons {
  margin-right: 10px;
}
